# Modules
node_modules

# dotenv environment variables file
.env
.env.test
env
.credentials
credentials

# Logs
logs
*.log

# Optional npm cache directory
.npm

# builder cache
.cache

# workflows
.github
