services:
  axelar:
    build: .
    container_name: axelar
    entrypoint: sh -l -c /root/private/bin/init_axelar.sh
    platform: linux/amd64
    volumes:
      - "./bin:/root/private/bin"
      - "./.axelar:/root/private/.axelar"
    labels:
      - "traefik.enable=true"

      # RPC
      - "traefik.http.routers.axelar-rpc.rule=Host(`localhost`) && PathPrefix(`/axelar-rpc`)"
      - "traefik.http.services.axelar-rpc.loadbalancer.server.port=26657"
      - "traefik.http.routers.axelar-rpc.entrypoints=web"
      - "traefik.http.routers.axelar-rpc.service=axelar-rpc"
      - "traefik.http.middlewares.axelar-rpc.stripprefix.prefixes=/axelar-rpc"
      - "traefik.http.routers.axelar-rpc.middlewares=axelar-rpc"

      # LCD
      - "traefik.http.routers.axelar-lcd.rule=Host(`localhost`) && PathPrefix(`/axelar-lcd`)"
      - "traefik.http.services.axelar-lcd.loadbalancer.server.port=1317"
      - "traefik.http.routers.axelar-lcd.entrypoints=web"
      - "traefik.http.routers.axelar-lcd.service=axelar-lcd"
      - "traefik.http.middlewares.axelar-lcd.stripprefix.prefixes=/axelar-lcd"
      - "traefik.http.routers.axelar-lcd.middlewares=axelar-lcd"
networks:
  default:
    name: traefik_default
    external: true
